@font-face {
    font-family: "Nike Futura";
    src: url("./fonts/nike-futura-extra-bold-v200.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Nike Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}