@font-face {
    font-family: "Nike Futura";
    src: url("https://www.nike.com/assets/ncss/3.2/dotcom/fonts/nike-futura-extra-bold-v200.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: "Nike Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}